
/*-----------INDEX------------

*＠共通--16
*＠header--117
*＠footer--137
*＠contact--145
*＠validation--150
*＠
*＠
*＠

*/

/*＝＝＝共通＝＝＝*/
*{
    text-decoration: none;
    color: #553f26;
    margin: 0;
    padding: 0;
}
a:visited{
    color: #553f26;
}
a:hover{
    color: #86725a;
}
.button {
    display       : inline-block;
    border-radius : 30%;
    font-size     : 16pt;
    text-align    : center; 
    cursor        : pointer;  
    padding       : 15px 15px; 
    background    : #ee7800;  
    line-height   : 1em;
    transition    : .3s; 
    border        : 2px solid #ee7800;
  }
.button:hover {
    color         : #ee7800; 
    background    : #ffffff; 
}
.btn {
    display       : inline-block;
    border-radius : 30%;
    font-size     : 16pt;
    text-align    : center; 
    cursor        : pointer;  
    padding       : 15px 15px; 
    color         : #ee7800; 
    background    : #ffffff; 
    line-height   : 1em;
    transition    : .3s; 
  }
.btn:hover {
    border        : 2px solid #ee7800;
    background    : #ffbe7c; 
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}
#flex{
    display: flex;
    margin: 50px 30px;
}
#center{
    margin: 50px 0px;
    text-align: center;
}
.back{
    margin: 10px 30px;
    padding: 50px 20px;
    border-radius : 150px 0px;   
    background-color: #fde8d0;
}
h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.main{
    font-size: 25px;
    font-weight: bold;
}
.sub{
    font-size: 20px;
}
.sub1{
    font-size: 20px;
    padding: 10px 300px 10px 10px;
    margin: 20px 0px 20px 100px;
}
table tr td{
    padding: 20px 70px;
}
#right{
    margin-right: 30px;
}
#bottom{
    margin-bottom: 60px;
}
.sub input{
    padding: 5px 40px;
}
#AAA{
    background-color: #ee7800;
    color : #fff;
    padding: 5px 10px;
    cursor: pointer;
}


/*＝＝header＝＝*/
#header{
    height: 80px;
}
#f{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}
.header{
    margin: 20px 30px;
}
#a{
    padding-top: 20px;
}
#img{
    height: 60px;
}


/*＝＝footer＝＝*/
.footer{
    text-align: center;
    height: 100px;
    margin-top: 150px;
}


/*＝＝contact＝＝*/
.sub-form{
    font-size: 20px;
    margin: 20px 0px;
    width: 90%;
    height: 50px;
}
.sub-form2{
    font-size: 20px;
    margin: 20px 0px;
    width: 90%;
    height: 100px;
}
.main2{
    font-size: 20px;
    background-color: #fff;
}
.sub2{
    font-size: 15px;
    background-color: #fff;
}
#initial{
    padding: initial;
    padding: 20px 0px;
    border-radius : 10px;
}
.cont{
    margin-bottom: 30px;
} 

/*＝＝バリデーション関連＝＝*/
.v1{
    margin-left: 100px;
    color: #ff0000;
}/*編集バリデーション*/
.v2{
    text-align: center;
    color: #ff0000;
}


.s{
    font-size: 20px;
    height: 160px;
}
#effort{
    white-space: pre-wrap;
}
.sub3{
    font-size: 20px;
    padding: 10px 280px 10px 10px;
    margin: 10px 0px 10px 100px;
    height: 80px;
}
h5{
    margin-left: 30px;
    font-size: 15px;
}